#dropmenudiv,
.ui-dialog {
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, .3)
}

#loading-layer {
    background: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 2px
}

.scriptcode,
.text_spoiler,
.title_spoiler {
    padding: 2% 4%;
    background: #fff;
    border: 1px solid #dde4ea
}

.title_quote {
    margin-top: 2px;
    color: #fff;
    font-weight: 700;
    padding: 2% 4%;
    background: url(/templates/worldmin/bullet_energy/images/h4.jpg) center 0 no-repeat;
    border: 1px solid #dde4ea;
}

.quote,
blockquote {
    padding: 1% 4%;
    margin: 1em 0;
    border-left: 2px solid #e85319;
    font-style: italic
}

.title_spoiler {
    margin-top: 2px;
    font-weight: 400
}

.text_spoiler {
    margin-bottom: 2px
}

.title_spoiler img {
    vertical-align: middle;
    margin: -1px 0 0!important
}

.scriptcode {
    color: #4c6d0f;
    text-align: left;
    font-family: "Courier New"
}

.text_spoiler {
    border-top: 0;
    text-align: justify
}

.hide {
    background-color: #f0f0f0;
    padding: 5px;
    color: #4c6d0f;
    margin: 0 0 1em
}

.hide a {
    text-decoration: underline
}

.hide a:hover,
.unit-rating li a {
    text-decoration: none
}

.sort {
    list-style: none;
    padding: 0;
    margin: 0
}

.sort,
.sort>li {
    display: inline
}

.sort>li {
    margin: 0 0 0 3%
}

.sort>li a {
    color: #353535
}

.sort>li.asc a,
.sort>li.desc a {
    color: #68ac39
}

.sort>li.asc a:after,
.sort>li.desc a:after {
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAsBAMAAACj90TiAAAAG1BMVEUAAAAzlOYzlOYzlOYzlOYzlOYzlOYzlOYzlOar6gzlAAAACHRSTlMAjesv90eHRuQt1XUAAABSSURBVBjTzdCxDQAhDENRSyzAEFdQ0zDB9axEgzw2DokEI1A9/S4OyAxADEcpPGlpFKWoSpEKp0Dlb6SvG2jY4Fka4tw4PqbEsDNTcb8gn/d4LPQHQDdjhblbAAAAAElFTkSuQmCC);
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 .4em;
    width: 6px;
    height: 11px;
    -webkit-background-size: 6px auto;
    background-size: 6px auto
}

.sort>li.asc a:after {
    background-position: 0 -11px
}

.pollprogress,
.voteprogress {
    overflow: hidden;
    height: 6px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 6px
}

.pollprogress span,
.voteprogress span {
    text-indent: -9999px;
    height: 6px;
    display: block;
    overflow: hidden;
    background: #68ac39
}

.pollprogress .poll2,
.voteprogress .vote2 {
    background-color: #dd514c
}

.pollprogress .poll3,
.voteprogress .vote3 {
    background-color: #5eb95e
}

.pollprogress .poll4,
.voteprogress .vote4 {
    background-color: #4bb1cf
}

.pollprogress .poll5,
.voteprogress .vote5 {
    background-color: #faa732
}

.rating,
.unit-rating {
    width: 115px;
    height: 23px
}

.rating {
    font-size: 11px
}

.unit-rating,
.unit-rating li a:hover,
.unit-rating li.current-rating {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAACKBAMAAAAnGmX8AAAALVBMVEX///+RkZH+12L/w0//7cP/5aj+24X/+u7/9d2tra3Jycne3t7/zGn5+fnx8fHkdmbhAAACEUlEQVRIx+2UuUsDQRTGF+8bp4yiyKDRUhiNFikW73LxwsIiRETL4F2KilpYmFYQklIE0VYbIQQsY2kjWkbwfzDjzvhm3rzCJiCSr1p+SfY7HsT7w2rYp3ltQPO6HpqPDdA8GSVxPeckr+HcJ205T1D8gHPSeJbzPopz7hrvnk4sSL4wcboLdIpb6v0ZxuY+LGB/HRY2ubn2MeB1a5ukxtEUGkEp4bSVchtvhLzfORaE/NV7VCDnlFzJPSKPJmEcczpffhg4x13zvB2nVxXvDdP2oKNHU+FOAyi+r/xRgWn9sOVVRKv8/ycJmlc/0nx8iOYrMRLXC5EibYUIKN4iBGl8KMQoaSsEaZwTIo7Z3tHkoihpdX7mBOiysJSHhJYCWMDExho1JjfXPgP8ZG2T0zhub7SjecJpK+U23gz5iHMsHRJpLuTDzmoqjnNEJRXTbByTv/Gd48YD+WHgHHddtsMnrhb5MO0gih/b/7ZfQQWWA+WPCizph22vojKr7Y3mTec0L7bT/K6T5ukIbctYgbRlLEPxRsbOSVvGuimeZYw0ZiVh9vpwfyX5xfXDJ1CJDHVAQlOQtvXOxMYazSa/9UDvGqIOrWmNI/ZxXjS/xCOrjHjSZ3g7Wg1CmsZZ6Eq9P1LAR1RCXDaOpKGtOV2mGUaD48pGRXliFL8jTNuF4odB2tKoQDaj/FGBG/3w4f0LfQHtX5JXyZBVcwAAAABJRU5ErkJggg==);
    -webkit-background-size: 23px auto;
    background-size: 23px auto
}

.unit-rating {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    background-position: 0 -46px
}

.unit-rating li {
    text-indent: -90000px;
    padding: 0;
    margin: 0;
    float: left
}

.unit-rating li a,
.unit-rating li.current-rating {
    position: absolute;
    height: 23px;
    display: block;
    text-indent: -9000px;
    padding: 0
}

.unit-rating li a {
    width: 23px;
    border: 0!important;
    z-index: 17
}

.unit-rating li a:hover {
    background-position: 0 -23px;
    z-index: 2;
    left: 0
}

.unit-rating a.r1-unit {
    left: 0
}

.unit-rating a.r1-unit:hover {
    width: 23px
}

.unit-rating a.r2-unit {
    left: 23px
}

.unit-rating a.r2-unit:hover {
    width: 46px
}

.unit-rating a.r3-unit {
    left: 46px
}

.unit-rating a.r3-unit:hover {
    width: 69px
}

.unit-rating a.r4-unit {
    left: 69px
}

.unit-rating a.r4-unit:hover {
    width: 92px
}

.unit-rating a.r5-unit {
    left: 92px
}

.unit-rating a.r5-unit:hover {
    width: 115px
}

.unit-rating li.current-rating {
    background-position: 0 0;
    z-index: 1
}

.ratingplus {
    color: #70bb39
}

.ratingminus {
    color: red
}

.ratingzero {
    color: #6c838e
}

.pm td.pm_head,
.pm td.pm_list,
.userstop td {
    border-bottom: 1px solid #efefef;
    padding: 12px 2px
}

table.pm,
table.userstop {
    width: 100%;
    margin-bottom: 0
}

table.pm select {
    width: 100px
}

.pm td.pm_head,
.userstop thead td {
    border-bottom: 1px solid #efefef;
    font-weight: 700
}

table.pm .navigation {
    border-top-width: 0;
    margin: 0
}

#dropmenudiv {
    padding: 10px 0;
    min-width: 140px;
    width: auto!important;
    opacity: 1!important;
    display: none;
    font-size: .9em;
    border: 1px solid #e6e6e6;
    border-color: rgba(0, 0, 0, .1);
    background-clip: padding-box;
    background-color: #fff
}

#dropmenudiv a {
    text-decoration: none!important;
    display: block;
    padding: 3px 20px;
    border: 0;
    white-space: nowrap;
    color: inherit
}

#dropmenudiv a:hover {
    background-color: #eeeeef
}

.highslide-outline,
.highslide-wrapper {
    background: #fff
}

.highslide-image {
    border: 2px solid #fff
}

.highslide-active-anchor,
.highslide-active-anchor img {
    visibility: hidden
}

.highslide-dimming {
    background-color: #000
}

.highslide-html {
    background-color: #fff
}

.highslide-loading {
    display: block;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    text-decoration: none;
    padding: 3px;
    border: 1px solid #fff;
    background-color: #000
}

a.highslide-full-expand {
    background: url(../dleimages/fullexpand.gif) no-repeat;
    display: block;
    margin: 0 10px 10px 0;
    width: 34px;
    height: 34px
}

.highslide-display-block {
    display: block
}

.highslide-display-none {
    display: none
}

.highslide-caption {
    display: none;
    padding: 5px;
    background: #fff
}

.highslide-controls {
    width: 195px;
    height: 40px;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) 0 -90px no-repeat;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px
}

.highslide-controls ul {
    position: relative;
    left: 15px;
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif) 100% -90px no-repeat
}

.highslide-controls li {
    float: left;
    padding: 5px 0
}

.highslide-controls a {
    background: url(../../../engine/classes/highslide/graphics/controlbar-black-border.gif);
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    outline: 0
}

.highslide-controls a.disabled {
    cursor: default
}

.highslide-controls a span {
    display: none
}

.highslide-controls .highslide-previous a {
    background-position: 0 0
}

.highslide-controls .highslide-previous a:hover {
    background-position: 0 -30px
}

.highslide-controls .highslide-previous a.disabled {
    background-position: 0 -60px!important
}

.highslide-controls .highslide-play a {
    background-position: -30px 0
}

.highslide-controls .highslide-play a:hover {
    background-position: -30px -30px
}

.highslide-controls .highslide-play a.disabled {
    background-position: -30px -60px!important
}

.highslide-controls .highslide-pause a {
    background-position: -60px 0
}

.highslide-controls .highslide-pause a:hover {
    background-position: -60px -30px
}

.highslide-controls .highslide-next a {
    background-position: -90px 0
}

.highslide-controls .highslide-next a:hover {
    background-position: -90px -30px
}

.highslide-controls .highslide-next a.disabled {
    background-position: -90px -60px!important
}

.highslide-controls .highslide-move a {
    background-position: -120px 0
}

.highslide-controls .highslide-move a:hover {
    background-position: -120px -30px
}

.highslide-controls .highslide-full-expand a {
    background-position: -150px 0
}

.highslide-controls .highslide-full-expand a:hover {
    background-position: -150px -30px
}

.highslide-controls .highslide-full-expand a.disabled {
    background-position: -150px -60px!important
}

.highslide-controls .highslide-close a {
    background-position: -180px 0
}

.highslide-controls .highslide-close a:hover {
    background-position: -180px -30px
}

.bb-editor textarea,
.ui-button {
    -webkit-box-sizing: border-box;
    outline: 0
}

.ui-widget-overlay {
    background: #000;
    opacity: .5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed
}

.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden
}

* html .ui-helper-clearfix {
    height: 1%
}

.ui-helper-clearfix {
    display: block
}

.ui-dialog {
    text-align: left;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 370px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    border-color: rgba(0, 0, 0, .1);
    background-color: #f7f7f7;
    background-clip: padding-box
}

.ui-dialog-titlebar {
    padding: 20px;
    position: relative
}

.ui-dialog-title {
    float: left;
    font-weight: 700;
    font-size: 1.15em
}

.ui-dialog-titlebar-close {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -16px;
    height: 32px;
    width: 32px;
    border: 0!important
}

.btnlc,
.ui-button {
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -webkit-transition: all ease .1s
}

.ui-dialog-titlebar-close .ui-icon {
    display: block;
    margin: 10px auto 0;
    width: 12px;
    height: 12px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAG1BMVEUAAAA1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTW7eCkWAAAACHRSTlMA8DiyCsELwNb3saQAAABlSURBVBjTY2AxYoACZQcG10YFCJtJooTBokMIwlHsaAZioBRYAigKJoAAJAghoRIQCiYEoSEiUCmIBFQKLAGTAkvApCASCA6GMoQBGEYjLEV1DopDUbyA4jlUb6ciAiSMgQ0pqAB4linXHtbaoQAAAABJRU5ErkJggg==);
    -webkit-background-size: 12px auto;
    background-size: 12px auto;
    opacity: .5
}

.ui-button {
    float: right;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    height: 36px;
    line-height: 22px;
    background-color: #68ac39;
    color: #fff;
    border: 0;
    padding: 7px 22px;
    text-decoration: none!important;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all ease .1s;
    margin: 0 3px
}

.bb-editor textarea,
.btnlc {
    -moz-box-sizing: border-box
}

.ui-dialog-titlebar-close:hover .ui-icon {
    opacity: 1
}

.ui-icon {
    overflow: hidden;
    text-indent: -9999px
}

.ui-dialog label {
    color: #575757
}

.ui-dialog-content {
    padding: 20px;
    border: 1px solid #fff;
    overflow: auto;
    position: relative;
    zoom: 1
}

.loginbox .ui-dialog-content,
.loginbox.ui-dialog {
    overflow: visible!important
}

.ui-dialog-content h2 {
    display: inline;
    font-size: 1em;
    font-weight: 700
}

.ui-dialog .ui-dialog-buttonpane {
    padding: 20px;
    text-align: center
}

.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move
}

.ui-state-error {
    background: 50% 50% repeat-x #fef1ec!important;
    border: 1px solid #cd0a0a;
    color: #cd0a0a
}

.ui-helper-hidden-accessible {
    display: none
}

.ui-autocomplete {
    position: absolute;
    cursor: default
}

* html .ui-autocomplete {
    width: 1px
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    float: left;
    background: 50% bottom repeat-x #fff;
    border: 1px solid #dedede;
    color: #353535
}

.ui-menu .ui-menu {
    margin-top: -3px
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    zoom: 1;
    float: left;
    clear: left;
    width: 100%
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1
}

.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a.ui-state-hover {
    margin: -1px;
    border: 1px solid #a7a7a7;
    color: #4e4e4e;
    font-weight: 700
}

.quick-edit-text {
    padding: .4em
}

.quick-edit-textarea {
    height: 250px;
    padding: 2px;
    border: 1px solid #d7d7d7;
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.user_selection,
.user_selection_true {
    background: #fff5d5;
    padding: 2px 0
}

.user_selection a.txtsel_close,
.user_selection_true a.txtsel_close {
    display: none
}

.user_selection .closewrap,
.user_selection_true .closewrap {
    position: relative
}

.user_selection.hover a.txtsel_close,
.user_selection_true.hover a.txtsel_close {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: -5px;
    width: 33px;
    height: 33px;
    background: url(../dleimages/closemarker.png) no-repeat
}

.user_selection.hover a.txtsel_close:hover,
.user_selection_true.hover a.txtsel_close:hover {
    background-position: 0 -33px
}

.qq-uploader {
    position: relative
}

.dle-alert,
.dle-confirm,
.dle-promt {
    padding: 20px 1em!important
}

.bbcodes,
.btn,
.btn-border,
.btnlc {
    vertical-align: middle;
    height: 36px;
    outline: 0;
    background-color: #68ac39;
    color: #fff;
    padding: 7px 22px;
    text-decoration: none!important;
    line-height: 22px;
    display: inline-block;
    cursor: pointer
}

.btnlc {
    font-size: 15px;
    font-weight: 600;
    border: 0;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all ease .1s
}

.bbcodes,
.btn,
.btn-border {
    border-radius: 4px;
    border: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease .1s;
    transition: all ease .1s
}

.btn>.icon {
    fill: #fff
}

.btn-white>.icon {
    fill: #68ac39
}

.btn-white {
    background-color: #fff;
    color: #68ac39
}

.btn-white:hover>.icon {
    fill: #fff
}

.btn-white:hover {
    background-color: #68ac39;
    color: #fff
}

.bbcodes:hover,
.btn:hover,
.btnlc:hover,
.ui-button:hover {
    background-color: #8ec73b
}

.btn-big {
    height: 46px;
    padding: 12px 27px;
    border-radius: 23px
}

.btn-border {
    color: #68ac39;
    border: 2px solid #68ac39;
    line-height: 22px;
    padding: 5px 20px;
    background-color: transparent!important;
    overflow: hidden;
    box-shadow: inset 0 0 0 0 transparent;
    -webkit-box-shadow: inset 0 0 0 0 transparent
}

.btn-border:hover {
    box-shadow: inset 0 0 0 2px rgba(51, 148, 230, .2);
    -webkit-box-shadow: inset 0 0 0 2px rgba(51, 148, 230, .2)
}

.xfields textarea,
.xprofile textarea {
    width: 100%;
    height: 186px
}

.xfields_table td {
    vertical-align: top
}

.xfieldsrow {
    padding-top: 5px;
    clear: both
}

.xfieldscolleft {
    float: left;
    width: 30%;
    padding-top: 14px
}

.xfieldscolright {
    float: left;
    width: 70%
}

.file-box {
    width: 95%;
    max-width: 437px;
    border: 1px solid #B3B3B3;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #F5F5F5;
    padding: 10px;
    margin-top: 10px
}

.xfieldimagegallery,
.xfieldimagegallery li {
    list-style: none;
    margin: 0;
    padding: 0
}

.xfieldimagegallery {
    clear: both
}

.xfieldimagegallery li img {
    float: left;
    margin-right: 5px;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    transition: box-shadow .5s ease
}

.xfieldimagegallery li img:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, .4)
}

.qq-uploader {
    width: 100%
}

.qq-upload-button {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer
}

.qq-upload-drop-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    max-width: 437px;
    background: #FF9797;
    text-align: center
}

.qq-upload-drop-area span {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -8px;
    font-size: 16px
}

.qq-upload-drop-area-active {
    background: #FF7171
}

.uploadedfile {
    display: inline-block;
    width: 115px;
    height: 140px;
    margin: 10px 5px 5px;
    border: 1px solid #B3B3B3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    text-align: center;
    background: #fff
}

.uploadedfile .uploadimage {
    margin-top: 5px;
    width: 115px;
    height: 90px;
    display: table-cell;
    text-align: center;
    vertical-align: middle
}

.uploadedfile .info {
    text-align: left;
    white-space: nowrap;
    margin: 0 5px;
    overflow: hidden
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress {
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    background: #eee;
    -webkit-box-shadow: 0 1px 0 #fff, 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 4px rgba(0, 0, 0, .2) inset;
    box-shadow: 0 1px 0 #fff, 0 0 0 1px rgba(0, 0, 0, .1) inset, 0 1px 4px rgba(0, 0, 0, .2) inset
}

.progress .progress-bar {
    float: left;
    width: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 8px
}

.progress-bar span {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0
}

.progress-blue {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#9bcff5), to(#6db9f0));
    background-image: -webkit-linear-gradient(top, #9bcff5, 0, #6db9f0, 100%);
    background-image: -moz-linear-gradient(top, #9bcff5 0, #6db9f0 100%);
    background-image: linear-gradient(to bottom, #9bcff5 0, #6db9f0 100%);
    background-repeat: repeat-x;
    border: 1px solid #55aeee
}