.newmenu a:hover,
aa:hover,
.newblock .dtw {
    background: url(../images/set.png) no-repeat
}

.newmenu {
    background: url(../images/menu.png) no-repeat 50% -7px;
    height: 48px;
    margin: 0 10px
}


@media (max-width: 968px) {

    .newmenu {
        margin: 1px -8px 0 -6px !important;
    }

}


.reset,
reset li {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.newmenu ul {
    overflow: hidden;
    height: 47px;
    float: left;
    margin-top: 1px
}

.newmenu li {
    display: inline-block
}

.newmenu li:last-child {
    margin-right: 0
}

.newmenu a,
.newmenu aa {
    display: block;
    height: 47px;
    line-height: 47px;
    padding: 0 20px;
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    color: #fff;
    font-weight: 700
}

.newmenu a:hover,
aa:hover {
    background-position: 0 0;
    background-repeat: repeat-x;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
    text-decoration: none;
    color: #fff
}

.newblock {
    width: 225px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .12)
}

.newblock:first-child {
    margin-top: 5px
}

.newblock .dtw {
    height: 45px;
    background-position: 0 -47px;
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0
}

.newblock .dtw h3 {
    color: #fff;
    line-height: 45px;
    font-size: 15px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5)
}

.newblock .dcnt {
    background: #fbfdff;
    line-height: 18px;
    box-shadow: inset 0 -4px 0 #efefef;
    padding: 15px 12px;
    border-radius: 0 0 5px 5px;
    color: #474747
}

.breg {
    margin-top: 15px
}

.breg:first-child {
    margin-top: 5px
}

.breg .regbtn {
    background: url(../images/regbtn.png) no-repeat 50% 0;
    height: 50px;
    line-height: 42px;
    display: block;
    padding: 0 0 0 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .35)
}

.breg .regbtn:hover {
    background-position: 50% -50px;
    text-decoration: none
}

.newblock #dltitle {
    border: 1px solid #e4e4e4;
    margin: 0 0 10px;
    width: auto;
    padding: 8px 2px 5px
}

.newblock #dltitle img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15)
}

.newblock .loginenter {
    font-size: 11px;
    padding: 10px 10px 0;
    color: #63adff
}

.newblock .loginenter li {
    list-style-type: square;
    list-style-position: inside
}

.newblock .loginenter li a {
    color: #868787
}

.newblock .dlsub-title,
.newblock .ustitle {
    width: auto
}

#topstyle {
    position: relative
}

#topstyle .toplft {
    width: 19px;
    height: 117px;
    position: absolute;
    left: 0;
    top: 295px;
    background: url(../images/bg_4.png) no-repeat 0 0
}

#topstyle .toprht {
    width: 50px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 280px;
    background: url(../images/bg_5.png) no-repeat 0 0;
    transform: scale(1.001);
}

#footer-cont .btmlft {
    width: 71px;
    height: 88px;
    position: absolute;
    left: 0;
    top: -110px;
    background: url(../images/bg_9.png) no-repeat 0 0;
}

#footer-cont .btmrht {
    width: 53px;
    z-index: 10;
    height: 134px;
    position: absolute;
    right: 0;
    top: -156px;
    background: url(../images/bg_10.png) no-repeat 0 0
}

#footer-cont a img {
    opacity: .5
}

#footer-cont a:hover img {
    opacity: 1
}

.topsbar {
    height: 80px
}

.topsbar .tologin {
    float: left;
    padding-top: 25px;
    margin-left: 32px
}

.topsbar .tologin a {
    color: #287563;
    text-decoration: underline
}

.topsbar .tologin a:hover {
    text-decoration: none
}

.topsbar .tologin .btn-open-login {
    display: block;
    line-height: 40px;
    background: url(../images/open-login.png) no-repeat 0 0;
    height: 47px;
    width: 94px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
    color: #5b5b5b
}

.topsbar .tologin .btn-open-login:hover {
    background-position: 0 -47px
}

.posrelative {
    position: relative
}

.logos {
    position: absolute;
    display: block;
    width: 350px;
    height: 63px;
    font-size: 0;
    line-height: 0;
    top: 58px;
    left: 50%;
    margin-left: -175px
}

.launcher {
    position: absolute;
    height: 57px;
    width: 232px;
    line-height: 47px;
    color: #fff;
    font-size: 20px;
    padding-left: 16px;
    background: url(../images/launcher.png) no-repeat 0 0;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    right: 32px;
    top: -61px
}

.launcher:hover {
    color: #fff;
    text-decoration: none;
    background-position: 0 -57px
}

.pmheading {
    background: #5ba12f url(../images/greentd.png) repeat-x 0 100%;
    padding: 15px 10px 4px;
    height: 30px;
    color: #fff;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #2d791e;
    margin: 0 -10px
}

.pmheading .pmnav a {
    padding: 5px 8px;
    display: inline-block;
    border-radius: 3px;
    background: rgba(0, 0, 0, .20);
    margin-top: -5px;
    color: #fff
}

.pmheading .pmnav a:hover {
    background: rgba(0, 0, 0, .35);
    text-decoration: none
}

.pmbg {
    padding: 0 10px 10px;
    background: #fefefe url(../images/greytd.png) repeat-x 0 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .14);
    margin: 4px
}

.pmin {
    margin: 20px 10px 10px
}

.pmava {
    float: left
}

.pmava img {
    width: 60px;
    margin-right: 15px;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15)
}

.pminfo {
    line-height: 18px;
    font-size: 11px
}

.pmtext {
    margin: 10px 0;
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .07)
}

.pmtext:after,
.pmtext:before {
    bottom: 100%;
    left: 38px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.pmtext:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #f8f8f8;
    border-width: 10px;
    margin-left: -10px
}

.pmtext:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 11px;
    margin-left: -11px
}

.pmctrl {
    padding-top: 10px
}

.pmctrl a {
    padding: 5px 8px;
    display: inline-block;
    border-radius: 3px;
    background: rgba(0, 0, 0, .05);
    margin-top: -5px;
    color: #555
}

.pmctrl a:hover {
    background: rgba(0, 0, 0, .12);
    text-decoration: none
}

.promobtn {
    margin: 3px 0;
    text-align: center
}

.promoin {
    padding: 10px;
    background-image: -moz-linear-gradient(top, #68ac39, #498d24);
    background-image: -ms-linear-gradient(top, #68ac39, #498d24);
    background-image: -o-linear-gradient(top, #68ac39, #498d24);
    background-image: -webkit-linear-gradient(top, #68ac39, #498d24);
    background-image: linear-gradient(top, #68ac39, #498d24);
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #539627;
    box-shadow: inset 0 0 1px rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .15);
    display: block
}

.promoin:hover {
    color: #fff;
    text-decoration: none;
    background: #68ac39
}

#snow-start {
    background: rgba(27, 25, 25, 0.4);
    color: #fff;
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 0 0 0 5px
}

table.modern {
    width: 100%
}

table.modern td,
table.modern th {
    padding: 8px 10px;
    vertical-align: top
}

table.modern th {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    text-align: center;
    border-bottom: 3px solid #6DB201;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase
}

table.modern td {
    border-bottom: 1px solid #F0F0F0
}

table.modern tr>td:nth-child(even) {
    background-color: #F9F9F9;
    border-color: #EAEAEA
}

.test3 {
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#tooltip_mon {
    word-break: break-all;
    position: absolute;
    z-index: 1030;
    box-sizing: border-box;
    max-width: 200px;
    padding: 3px 6px;
    background: #666;
    border-radius: 2px;
    color: #fff;
    font-size: 12px
}

#tooltip_mon.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -20px;
    bottom: auto
}

#tooltip_mon.left:after {
    left: 10px;
    margin: 0
}

#tooltip_mon.right:after {
    right: 10px;
    left: auto;
    margin: 0
}

#search_ban a {
    display: block;
    background: #E7E7E7;
    padding: 4px;
    color: #454545;
    text-decoration: none;
    font-size: 14px;
}

#search_ban a:hover {
    background: #EDEDED;
}

.imageTop img {
    -webkit-transition: all ease .1s;
    transition: all ease .1s;
}

.imageTop img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

#progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: 0px;
    width: 0%;
    height: 3px;
    background: #73ab4c;
    border-radius: 1px;
    -moz-transition: width 500ms ease-out, opacity 400ms linear;
    -ms-transition: width 500ms ease-out, opacity 400ms linear;
    -o-transition: width 500ms ease-out, opacity 400ms linear;
    -webkit-transition: width 500ms ease-out, opacity 400ms linear;
    transition: width 500ms ease-out, opacity 400ms linear;
}

#progress dd,
#progress dt {
    position: absolute;
    top: 0;
    height: 3px;
    box-shadow: #73ab4c 1px 0 6px 1px;
    border-radius: 100%;
}

#progress dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px);
}

#progress dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px);
}

#pre-loader {
    width: 100%;
    height: 100%;
    position: relative;
}

#pre-loader-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: 60px;
    margin-left: -140px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: pre-loader-absolute 1.5s infinite;
    animation: pre-loader-absolute 1.5s infinite;
}

.object {
    width: 25px;
    height: 25px;
    background-color: #8bc34a;
    float: left;
}

#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}

#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}

#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}

#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}

@-webkit-keyframes pre-loader-absolute {
    100% {
        -webkit-transform: rotate(-45deg);
    }
}

@keyframes pre-loader-absolute {
    100% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}

@-webkit-keyframes object_one {
    25% {
        -webkit-transform: translate(0, -50px) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_one {
    25% {
        transform: translate(0, -50px) rotate(-180deg);
        -webkit-transform: translate(0, -50px) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@-webkit-keyframes object_two {
    25% {
        -webkit-transform: translate(50px, 0) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_two {
    25% {
        transform: translate(50px, 0) rotate(-180deg);
        -webkit-transform: translate(50px, 0) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@-webkit-keyframes object_three {
    25% {
        -webkit-transform: translate(-50px, 0) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_three {
    25% {
        transform: translate(-50px, 0) rotate(-180deg);
        -webkit-transform: translate(-50px, 0) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: rtranslate(0, 0) rotate(-180deg);
    }
}

@-webkit-keyframes object_four {
    25% {
        -webkit-transform: translate(0, 50px) rotate(-180deg);
    }
    100% {
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

@keyframes object_four {
    25% {
        transform: translate(0, 50px) rotate(-180deg);
        -webkit-transform: translate(0, 50px) rotate(-180deg);
    }
    100% {
        transform: translate(0, 0) rotate(-180deg);
        -webkit-transform: translate(0, 0) rotate(-180deg);
    }
}

.grecaptcha-badge {
    display: none;
    !important
}

.fixed {
    position: absolute;
    letter-spacing: 4px;
    top: 7px;
    right: 5px;
    background-color: #ececec;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    border-radius: 10x;
}

.fixed:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, .6), inset 0 0 20px rgba(255, 255, 255, 1);
    border-radius: 8px;
}